@model IEnumerable<DevelopingYou.Web.Models.Goal>

@{
    ViewData["Title"] = "Index";
}


<nav></nav>

<section>A nice big area for lots of text and or articles.</section>

<img src="https://via.placeholder.com/150" />
<p>Chase's picture</p>
<img src="https://via.placeholder.com/150" />
<p>Marie's picture</p>
<img src="https://via.placeholder.com/150" />
<p>Stacey's Picture</p>
<img src="https://via.placeholder.com/150" />
<p>Francesco's Picture</p>


