@model IEnumerable<DevelopingYou.Web.Models.Goal>

@{
    ViewData["Title"] = "Index";
}


    <div id="aboutuscontent">

        <section class="AboutSection">A nice big area for lots of text and or articles.</section>

        <img class="Chase" src="~/Assets/ChasePic.jpg" width="150" height="150" />
        <p class="ChaseWords">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <img class="Marie" src="~/Assets/MariePic.jpg" width="150" height="150" />
        <p class="MarieWords">Hello, my name is Marie Antons. I am a software developer with a background as a Chef and server in the hospitality industry. The hospitality industry is all about working in teams, which has helped me develop my interpersonal and organizational skills. I love constant learning and being able to contribute to a team that is making a positive impact.</p>
        <img class="Stacey" src="~/Assets/StaceyPic.jpg" width="150" height="150" />
        <p class="StaceyWords">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
        <img class="Francesco" src="~/Assets/FrancescoPic.jpg" width="150" height="150" />
        <p class="FrancescoWords">
            Hello, my name is Francesco Troiano, I am a software developer with previous experience in the customer service industry. In previous jobs I had found my passion, which was for people. I enjoyed working with them, helping them develop, and watching them grow drove me to furthering my own self. In my drive to become a full stack developer I found that I could take my passion and apply it towards the wonderful world of coding, and I'm excited to do so at future opportunities.
        </p>


    </div>