@model IEnumerable<DevelopingYou.Web.Models.Goal>

@{
    ViewData["Title"] = "Index";
}


    <div id="aboutuscontent">

        <section class="About">A nice big area for lots of text and or articles.</section>

        <img class="Chase" src="https://via.placeholder.com/150" width="150" height="150" />
        <p>Chase's picture</p>
        <img class="Marie" src="https://via.placeholder.com/150" width="150" height="150" />
        <p>Marie's picture</p>
        <img class="Stacey" src="https://via.placeholder.com/150" width="150" height="150" />
        <p>Stacey's Picture</p>
        <img class="Francesco" src="https://via.placeholder.com/150" width="150" height="150" />
        <p>Francesco's Picture</p>


    </div>