/* --- header ---*/

header {
    height: 30px;
    top: 0;
    background: #CE9B8C;
    color: white;
    position: fixed;
    width: 100%;


}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* --- body --- */

body {
}


/* --- footer ---*/

/*footer {
    height: 30px;
    bottom: 0;
    background: #CE9B8C;
    color: white;
    position: fixed;
    width: 100%;
}*/
