* {
    font-family: 'Roboto', sans-serif;
}

/* --- header ---*/

header {
    height: 50px;
    top: 0;
    background: #CE9B8C;
    color: white;
    position: fixed;
    width: 500px;


}


header a:link {
    text-decoration: none;
    color: white;
}

header a:visited {
    text-decoration: none;
    color: white;
}

.activeGoals {
    font-size: 30px;
    margin-bottom: 10px;
}


/* --- body --- */

body {
    padding-top: 50px;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;

}

.lastElement {
    padding-left: 25px;
}


/* --- footer ---*/
footer {
    height: 30px;
    bottom: 0;
    background: #CE9B8C;
    color: white;
    position: fixed;
    width: 500px;
    text-align: center;
}


/* --- About us page ---*/

#aboutuscontent {
    display: grid;
    grid-template-columns: 180px 15px auto 15px;

}

.Chase, .Marie, .Stacey, .Francesco {
    grid-column: 1 / 1;
    align-self: center;
    border-radius: 50%;
}

.ChaseWords, .MarieWords, .StaceyWords, .FrancescoWords {
    grid-column: 3 / 3;
    align-self: center;
    margin: 15px 5px 15px 5px;
    
}

.AboutSection {
    grid-column: 1 / 4;
    margin-bottom: 10px;
}

/* --- Main Page --- */

.wrapper {
    display: grid;
    width: 95%;
    box-shadow: black 0 0 2px;
    margin: auto;
    grid-template-rows: 5% 30% 30% 30% 5%;
}

.active-goal {
    display: grid;
    grid-template-columns: 20px 50px 50px 50px 70px 240px 20px;
    grid-template-rows: 10px 60px 60px 60px 10px;
    grid-row: 2 / 2;
}

.active-goal h3 {
    font-size: 20px;
    
}

.hometext {
    grid-column: 2 / 6;
    grid-row: 2 / 2;
    
}

.firstBadge {
    grid-column: 2 / 2;

}

.secondBadge {
    grid-column: 3 / 3;

}

.thirdBadge {
    grid-column: 4 / 4;

}

.firstBadge, .secondBadge, .thirdBadge {
    grid-row: 3 / 3;
}

.progressBar {
    grid-column: 6 / 6;
    grid-row: 2 / 4;
}
