@model IEnumerable<DevelopingYou.Web.Models.Goal>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Header {
    <h1>Active Goals</h1>
}
<body>
    <main>

        @Html.DisplayNameFor(model => model.Title)
  <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                       
                    </td>
                    <td>
                      
                    </td>
                 
                </tr>
            }
        </tbody>




    </main>





</body>
