@model IEnumerable<DevelopingYou.Web.Models.Goal>
@{
    ViewData["Title"] = "Home Page";
}




@section Header {

    <h1>Active Goals</h1>
}
<body>
    <main>

        <div class="active-goal">
            <h3>Less social media</h3>
            <img src="~/Assets/progressBar.png" />
        </div>

    </main>
</body>
