@model IEnumerable<DevelopingYou.Web.Models.Goal>
@{
    ViewData["Title"] = "Home Page";
}




@section Header {

    <h1>Active Goals:</h1>
}
<body>
    <div class="wrapper">
        <main>

            <div class="active-goal">
                <h3 class="hometext">Less social media</h3>
                <img class="progressBar" src="~/Assets/progressBar.png" height="200" width="200" />
                <img class="firstBadge" src="~/Assets/Badge1.png" height="45" width="45"/>
                <img class="secondBadge" src="~/Assets/Badge2.png" height="45" width="45" />
                <img class="thirdBadge" src="~/Assets/Badge3.png"  height="45" width="45"/>
            </div>

        </main>
    </div>
</body>
