@model IEnumerable<DevelopingYou.Web.Models.Goal>
@{
    ViewData["Title"] = "Home Page";
}




@section Header {

    <h1>Active Goals</h1>

}
<body>
    <main>

      
  <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                       
                    </td>
                    <td>
                      
                    </td>
                 
                </tr>
            }
        </tbody>




    </main>





</body>
