@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Header {
    <h1>Active Goals</h1>
}
<body>
    <main>
        <div class="firstActiveGoal">
            <h2>how do i use linq here</h2>
           <div>
               Progress Bar
           </div>
            <ul>
                <li>
                    Badge
                </li>
                <li>
                    Badge
                </li>
                <li>
                    Badge
                </li>
            </ul>
        </div>
        <div class="secondActiveGoal">
            <div>
                Progress Bar
            </div>
            <ul>
                <li>
                    Badge
                </li>
                <li>
                    Badge
                </li>
                <li>
                    Badge
                </li>
            </ul>
        </div>
        <div class="thirdActiveGoal">
            <div>
                Progress Bar
            </div>
            <ul>
                <li>
                    Badge
                </li>
                <li>
                    Badge
                </li>
                <li>
                    Badge
                </li>
            </ul>
        </div>


    </main>





</body>
