<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/CSS/reset.css" />
    <link rel="stylesheet" href="~/CSS/StyleSheet.css" />
</head>
<body>
    <header>
        <a asp-action="Index" asp-controller="Home">Home</a>
        <a asp-action="Index" asp-controller="Goals">Goals</a>
        <a asp-action="Index" asp-controller="About">About</a>

    </header>
    @RenderSection("Header", required: false)
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
