<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("Header", required: false)
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)

</body>
</html>
